certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
fontdiffenator==0.9.0
fonttools==3.32.0
idna==2.7
itsdangerous==1.1.0
Jinja2>=2.10.1
MarkupSafe==1.1.0
Pillow>=6.2.2
requests==2.20.1
rethinkdb==2.3.0.post6
urllib3==1.26.18
werkzeug>=0.15.3
