body{
  font-family: sans-serif;
  margin: 0;
}
p, b, h1, h2, h3, h4{
  font-family: sans-serif;
}
h1, h2, h3, h4, .box-header, #alert, .button, li{
  font-family: arial;
  color: #757575;
}
h1 {
  font-weight: 400;
  font-size: 22px;
}
h2, .box-header {
  font-size: 12px;
}
a, ul, li {
  text-decoration: none;
  color: #757575;
  list-style: none;
}
.container {
  position: relative;
  top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.box-200px{
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}
#container-left {
  float: left;
  width: 48%;
  margin-right: 2%;
}
#container-right {
  float: right;
  width: 48%;
  margin-left: 2%;
}
.box-large{
  width: 100%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-header{
  border-top: 1px solid #757575;
  font-family: arial;
  font-weight: bold;
}
.box-content{
  position: relative;
  width: 100%;
  float: left;
  padding-top: 10px;
}
.font-swap{
}
.box-char{
  position: relative;
  float: left;
  padding-bottom: 20px;
  margin: 10px;
  margin-top: 15px;
  background-color: #fcfcfc;
  text-align: center;
  }
.caption{
  position: absolute;
  font-family: sans-serif;
  font-size: 8pt;
  bottom: 5px;
  width: 100%;
}
.line{
  float: left;
  font-size: 20px;
  width: 20%;
  line-height: 32px;
}
#header{
  top: 0;
  z-index: 1;
  position: fixed;
  float: left;
  width: 100%;
  display: block;
  background-color: white;
  box-shadow: 0px 5px 5px #CCCCCC;
  line-height: 18px;
}
.header-title{
  float: left;
  padding-left: 40px;
}
.header-nav{
  float: right;
}
.dropdown{
    background-color: white;
    z-index: 1;
    box-shadow: 0px 5px 5px #CCCCCC;
    position: fixed;
    right: 0;
    padding: 18px;
    top: 60px;
    display: none;
}
.caret{
  font-size: 13px;
}
.button{
  display: block;
  float: left;
  padding-top: 17px;
  padding-right: 40px;
  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.container-button{
  font-family: arial;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
#alert{
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 30px;
  padding: 5px;
}
#fonts_after_dropbox, #fonts_before_dropbox, #fonts_after_dropbox.active, #fonts_before_dropbox.active {
  background-color: #fcfcfc;
  width: 20em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
#fonts_before_dropbox{
    display: none;
}
#info{
  display: none;
  background-color: red;
  color: white;
  font-family: arial;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 200px;
  overflow-y: scroll;
}
table{
  width:50%;
}
th, td{
  text-align: left;
}

#info-glyphs{
  display: none;
}
.material-icons{
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
    line-height: 15px;
    vertical-align: middle;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
.mdl-slider{
    vertical-align: middle;
}
.width-33{
    width:30%;
    float: left;
}