<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <title>Google Fonts Regression</title>
    {% endblock %}
</head>
<body>
  <div id="header">
    <div class="header-title" id="home">
      <h1><a href="/">Google Fonts Regression</a></h1>
    </div>
    {% if 'compare' in request.path %}
    <div class="header-nav">
      <div class="button" id="font-toggle-button">Fonts Before</div>
      <div class="button" id="dropdown-button">{{ view | replace('_', ' ') | title }} <span class="caret">&#x25BC;</span></div>
      <div class="dropdown">
        {% for view in views %}
            <li span class="container-button"><a href="{{ url_for('compare', uuid=uuid, view=view, font_size=font_size) }}">{{ view | replace('_', ' ') | title }}</a></li>
        {% endfor %}
        <li span class="container-button"><a href="{{ url_for('compare', uuid=uuid, view='waterfall', font_size=font_size) }}">Waterfall</a></li>
        <li span class="container-button"><a href="{{ url_for('compare', uuid=uuid, view='editor', font_size=font_size) }}">Editor</a></li>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script>
  $(function() {

    $('#dropdown-button').on('click', function(){
      $('.dropdown').toggle();
    })
    $('.container').on('click', function(){
      $('.dropdown').hide();
    })



  });
  </script>
</body>
</html>