<div id="page-editor" class="pages">
  {% for font in target_fonts %}
    <h2><a href="#{{ font.fullname }}-editor">{{ font.fullname }}</a></h2>
  {% endfor %}

  {% for font in target_fonts %}
  <div class="box-large">
    <div class="box-header" id="{{ font.fullname }}-editor">
        <p>{{ font.fullname }} Base</p>
      <div class="width-33">
      </div>
      <div class="width-33">
        <i class="material-icons" id="textsize-icon">text_fields</i>
        <input class="mdl-slider mdl-js-slider" type="range"
        min="0" max="100" value="50" tabindex="0" id="{{ font.fullname }}-sl">
        <span id="{{ font.fullname }}-textsize">50px</span>
      </div>
      <div class="width-33">
        <i class="material-icons" id="{{ font.fullname }}-hide">remove_circle_outline</i>
      </div>
    </div>

    <div class="box-content" id="{{ font.fullname }}-textbox" style="font-size: 50px;">
      <div class='font-swap'>
        <span class="{{ font.cssname }}" contenteditable="true" spellcheck="false">
          This is a live editor... get typing
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>