<div id="page-glyph-all" class="pages", style="display: block;">
  {% for test in glyphs['glyphs_all']['tests'] %}

    <div class="box-large">
      <div class="box-header"><p>{{ test["font_before"]["full_name"] }} | {{ font_size }}pt</p></div>
      <div class="box-content">

          {% for glyph in test["glyphs"] %}
            {% if glyph['features'] %}
              {% for feat in glyph['features'] %}
                <div style="float: left; width: {{ font_size * 1.5 }}pt; line-height: {{ font_size * 1.5 }}pt;">
                  <div class="swap-fonts-{{ font_position }}">
                    <span class="{{ test['font_before']['span_name'] }}" style="font-feature-settings: '{{ feat }}' on;
                    font-size: {{ font_size }}pt;"> {{ glyph['characters'] }} </span>
                  </div>
                </div>
              {% endfor %}

            {% else %}
              <!-- Glyphs which are accesible with unicodes -->
              <div style="float: left; width: {{ font_size * 1.5 }}pt; line-height: {{ font_size * 1.5 }}pt;">
              <div class="swap-fonts-{{ font_position }}">
                <span class="{{ test['font_before']['span_name'] }}" style="font-feature-settings: '{{ feat }}' on;
                    font-size: {{ font_size }}pt;"> {{ glyph['characters'] }} </span>
                  </div>
              </div>
            {% endif %}

          {% endfor %}
      </div>
    </div>
  {% endfor %}

</div>
