<div id="page-glyph-missing" class="pages">
  {% for test in comparisons['glyphs_missing']['tests'] %}
    <div class="box-large">
      <div class="box-header"><p>{{ test["font_before"]["full_name"] }}</p></div>
      <div class="box-content">
        {% if test["glyphs"] %}
          {% for glyph in test["glyphs"] %}
              <div class="swap-fonts-{{ font_position }}">
                <div class="box-char">
                  <span class={{ test["font_before"]["span_name"] }} style="font-size: 60px">{{ glyph['char'] }}</span>
                  <div class="caption">{{ glyph['name'] }}</div>
                </div>
              </div>
          {% endfor %}
        {% else %}
          <p>No missing glyphs</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>