<div id="page-glyphs-all" class="pages">
  {% for font in fonts_after %}

    <div class="box-large">
      <div class="box-header" id="{{ font.fullname }}-modified">
        <p>{{ font.fullname }} {{ pt_size }}pt</p>
      </div>
      <div class="box-content">
          {% for name, features, glyph in glyph_pallettes[font.fullname] %}
            {% if features %}
              {% for feat in features %}
                <div style="float: left; width: {{ pt_size * 1.5 }}pt; line-height: {{ pt_size * 1.5 }}pt;">
                  <span class="{{ font.css_class }}" style="font-feature-settings: '{{ feat }}' on;
                  font-size: {{ pt_size }}pt;"> {{ glyph }} </span>
                </div>
              {% endfor %}

            {% else %}
              <!-- Glyphs which are accesible with unicodes -->
              <div style="float: left; width: {{ pt_size * 1.5 }}pt; line-height: {{ pt_size * 1.5 }}pt;">
              <span class="{{ font.css_class }}" style="font-feature-settings: '{{ feat }}' on;
                  font-size: {{ pt_size }}pt;"> {{ glyph }} </span>
              </div>
            {% endif %}

          {% endfor %}
      </div>
    </div>
  {% endfor %}

</div>
