<div id="page-waterfall" class="pages">
  {% for font in fonts_after %}
    <h2><a href="#{{ font.fullname }}-waterfall">{{ font.fullname }}</a></h2>
  {% endfor %}

  {% for font in fonts_after %}
  <div class="box-large">
    <div class="box-header" id="{{ font.fullname }}-waterfall">
      <p>{{ font.fullname }} After</p>
    </div>
    <div class="box-content">
      <div class='font-swap'>
        {% for n in range(7, 22) %}
        <div class="box-header">{{ n }}pt</div>
        <span class="{{ font.css_class }}" style="font-size: {{ n }}pt">
          QUICK WAFTING ZEPHYRS VEX BOLD JIM.<br>
          quick wafting zephyrs vex bold jim.<br>
          $14.95<br>
          <br>
        </span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>