<div id="page-glyph-missing" class="pages">
  {% for font in fonts_after %}
    <h2><a href="#{{ font.fullname }}-new">{{ font.fullname }}</a></h2>
  {% endfor %}

  {% for font in fonts_after %}
    <div class="box-large">
      <div class="box-header" id="{{ font.fullname }}-new">
        <p>{{ font.fullname }} After</p>
      </div>
      <div class="box-content">
        {% if missing_glyphs[font.fullname] %}
          {% for uni, name in missing_glyphs[font.fullname] %}
          <div class="font-swap">
            <div class="box-char">
              <span class="{{ font.css_class }}" style="font-size: 60px">&#{{ uni }};</span>
              <div class="caption">{{ name }}</div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <p>No missing glyphs</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>