<div id="page-vertical-metrics" class="pages">
  {% for font in fonts_after %}
    <h2><a href="#{{ font.fullname }}-vert">{{ font.fullname }}</a></h2>
  {% endfor %}

  <div id="container-left">
    <h2>Local</h2>
    {% for font in fonts_after %}
      <div class="box-200px">
        <div class="box-header" id="{{ font.fullname }}-vert">
          <p>{{ font.fullname }}</p>
        </div>
        <div class="box-content">
          <span class="{{ font.css_class }}" style="font-size: 20px;" contenteditable="true">{{ dummy_text }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="container-right">
    <h2>fonts.google.com</h2>
    {% for font in fonts_before %}
      <div class="box-200px">
        <div class="box-header">
          <p>{{ font.fullname }}</p>
        </div>
        <div class="box-content">
          <span class="{{ font.css_class }}" style="font-size: 20px;" contenteditable="true">{{ dummy_text }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>