<div id="page-{{ name }}" class="pages">
  {% for test in comparisons[comparison]['tests'] %}
    <div class="box-large">
      <div class="box-header"><p>{{ test["font_before"]["full_name"] }}</p></div>
      <div class="box-content">
        {% if test["glyphs"] %}
          {% for item in test["glyphs"][:800] %}
            <div class="swap-fonts-{{ font_position }}">
                <div class="box-char">
                  <span class={{ test["font_before"]["span_name"] }} style="font-size: 60px">{{ item['string'] }}</span>
                  <div class="caption">{{ item['description'] }}</div>
                </div>
              </div>
          {% endfor %}
        {% else %}
          <p>{{ pass_msg }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
