<html>
  <head>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <style>
      .char-box{
        width: 200px;
        height: 200px;
        float: left;
        padding: 10px;
        margin: 10px;
        background-color: #f2f2f2;
        font-family: arial;
        font-size: 200px;
        text-align: center;
      }
    </style>
  </head>
  <body>
  Change font with Q, D
    <div class="char-box">
      P
    </div>
    <div class="char-box">
      Q
    </div>
    <div class="char-box">
      Q
    </div>
    <div class="char-box">
      Q
    </div>
    <div class="char-box">
      Q
    </div>
    <div class="char-box">
      Q
    </div>
    <div class="char-box">
      Q
    </div>
    <div class="char-box">
      Q
    </div>
  </body>
  <script>
    // Change font with Q or D
    $(document).keypress(function(e) {
      if(e.which == 81) {
          $('.char-box').css('font-family', 'times');
      }
      if(e.which == 68) {
          $('.char-box').css('font-family', 'arial');
      }
    });
  </script>
</html>