{% extends "base.html" %}
{% block head %}
    {{ super() }}
  <style>
    /*Load local fonts*/
    {% for font in target_fonts %}
      @font-face{
        font-family: {{ font.cssname }};
        src: url('{{ font.path }}');
      }
    {% endfor %}


    /*Create classes for local fonts*/
    {% for font in target_fonts %}
      .{{ font.cssname }}{
        font-family: {{ font.cssname }};
      }
    {% endfor %}


    #page-vertical-metrics{
      display: none;
    }
    #page-waterfall{
      display: block;
    }
  </style>
{% endblock %}

{% block content %}
  <meta id="to_target_fonts" data-name="local-fonts" data-str="{{ to_target_fonts }}">
  <meta id="to_base_fonts" data-name="remote-fonts" data-str="{{ to_base_fonts }}">

  {% include "page-waterfall.html" %}

{% endblock %}


