{% extends "base.html" %}
{% block head %}
    {{ super() }}
  <style>
    /*Load local fonts*/
    {% for font in target_fonts %}
      @font-face{
        font-family: {{ font.cssname }};
        src: url('{{ font.path }}');
      }
    {% endfor %}

    /*Load remote fonts*/
    {% for font in base_fonts %}
      @font-face{
        font-family: {{ font.cssname }};
        src: url('{{ font.path }}');
      }
    {% endfor %}

    /*Create classes for local fonts*/
    {% for font in target_fonts %}
      .{{ font.cssname }}{
        font-family: {{ font.cssname }};
      }
    {% endfor %}

    /*Create classes for base_fonts*/
    {% for font in base_fonts %}
      .{{ font.cssname }}{
        font-family: {{ font.cssname }};
      }
    {% endfor %}
  </style>
{% endblock %}

{% block content %}
  <meta id="to_target_fonts" data-name="local-fonts" data-str="{{ to_target_fonts }}">
  <meta id="to_base_fonts" data-name="remote-fonts" data-str="{{ to_base_fonts }}">

  <div id="page-vertical-metrics" class="pages">
    {% for font in target_fonts %}
      <h2><a href="#{{ font.fullname }}-vert">{{ font.fullname }}</a></h2>
    {% endfor %}

    <div id="container-left">
      <h2>Local</h2>
      {% for font in target_fonts %}
        <div class="box-200px">
          <div class="box-header" id="{{ font.fullname }}-vert">{{ font.fullname }}</div>
          <div class="box-content">
            <span class="{{ font.cssname }}" style="font-size: 20px;" contenteditable="true">{{ dummy_text }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="container-right">
      <h2>fonts.google.com</h2>
      {% for font in base_fonts %}
        <div class="box-200px">
          <div class="box-header">{{ font.cssname }}</div>
          <div class="box-content">
            <span class="{{ font.cssname }}" style="font-size: 20px;" contenteditable="true">{{ dummy_text }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="page-glyph-modified" class="pages">
    {% for font in target_fonts %}
      <h2><a href="#{{ font.fullname }}-modified">{{ font.fullname }}</a></h2>
    {% endfor %}

    {% for font in base_fonts %}
      <div class="box-large">
        <div class="box-header" id="{{ font.fullname }}-modified">{{ font.fullname }}</div>
        <div class="box-content">
          {% if changed_glyphs[font.fullname] %}
            {% for uni, name in changed_glyphs[font.fullname] %}
            <div class="font-swap">
              <div class="box-char">
                <span class="{{ font.cssname }}" style="font-size: 60px">&#{{ uni }};</span>
                <div class="caption">{{ name }}</div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <p>No modified glyphs</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="page-glyph-new" class="pages">
    {% for font in target_fonts %}
      <h2><a href="#{{ font.fullname }}-new">{{ font.fullname }}</a></h2>
    {% endfor %}

    {% for font in base_fonts %}
      <div class="box-large">
        <div class="box-header" id="{{ font.fullname }}-new">{{ font.fullname }}</div>
        <div class="box-content">
          {% if new_glyphs[font.fullname] %}
            {% for uni, name in new_glyphs[font.fullname] %}
            <div class="font-swap">
              <div class="box-char">
                <span class="{{ font.cssname }}" style="font-size: 60px">&#{{ uni }};</span>
                <div class="caption">{{ name }}</div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <p>No new glyphs</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="page-glyph-missing" class="pages">
    {% for font in target_fonts %}
      <h2><a href="#{{ font.fullname }}-new">{{ font.fullname }}</a></h2>
    {% endfor %}

    {% for font in base_fonts %}
      <div class="box-large">
        <div class="box-header" id="{{ font.fullname }}-new">{{ font.fullname }}</div>
        <div class="box-content">
          {% if missing_glyphs[font.fullname] %}
            {% for uni, name in missing_glyphs[font.fullname] %}
            <div class="font-swap">
              <div class="box-char">
                <span class="{{ font.cssname }}" style="font-size: 60px">&#{{ uni }};</span>
                <div class="caption">{{ name }}</div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <p>No missing glyphs</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="page-waterfall" class="pages">
    {% for font in target_fonts %}
      <h2><a href="#{{ font.fullname }}-waterfall">{{ font.fullname }}</a></h2>
    {% endfor %}

    {% for font in target_fonts %}
    <div class="box-large">
      <div class="box-header" id="{{ font.fullname }}-waterfall">{{ font.fullname }}</div>
      <div class="box-content">
        <div class='font-swap'>
          {% for n in range(7, 22) %}
          <div class="box-header">{{ n }}pt</div>
          <span class="{{ font.cssname }}" style="font-size: {{ n }}pt">
            QUICK WAFTING ZEPHYRS VEX BOLD JIM.<br>
            quick wafting zephyrs vex bold jim.<br>
            $14.95<br>
            <br>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="page-languages" class="pages">
    {% for font in target_fonts %}
      <h2><a href="#{{ font.fullname }}-languages">{{ font.fullname }}</a></h2>
    {% endfor %}

    {% for font in target_fonts %}
    <div class="box-large">
      <div class="box-header" id="{{ font.fullname }}-langauges">{{ font.fullname }}</div>
      <div class="box-content">
        <div class='font-swap'>
          <span class="{{ font.cssname }}">
            {% for lang in languages[font.fullname] %}
              <div class="box-header" lang="{{ languages[font.fullname][lang].part1 }}">{{ languages[font.fullname][lang].name }}</div>
              {{ languages[font.fullname][lang].text }}<br><br>
            {% endfor %}
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

    <div id="page-editor" class="pages">
    {% for font in target_fonts %}
      <h2><a href="#{{ font.fullname }}-editor">{{ font.fullname }}</a></h2>
    {% endfor %}

    {% for font in target_fonts %}
    <div class="box-large">
      <div class="box-header" id="{{ font.fullname }}-editor">
        <div class="width-33">
          {{ font.fullname }}
        </div>
        <div class="width-33">
          <i class="material-icons" id="textsize-icon">text_fields</i>
          <input class="mdl-slider mdl-js-slider" type="range"
          min="0" max="100" value="50" tabindex="0" id="{{ font.fullname }}-sl">
          <span id="{{ font.fullname }}-textsize">50px</span>
        </div>
        <div class="width-33">
          <i class="material-icons" id="{{ font.fullname }}-hide">remove_circle_outline</i>
        </div>
      </div>

      <div class="box-content" id="{{ font.fullname }}-textbox" style="font-size: 50px;">
        <div class='font-swap'>
          <span class="{{ font.cssname }}" contenteditable="true" spellcheck="false">
            This is a live editor... get typing
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  </div>
  <div id="alert"></div>

<script>
  local = $('#to_target_fonts').data();
  target_fonts = local['str'].split(',') 

  remote = $('#to_base_fonts').data();
  base_fonts = remote['str'].split(',');

  $('#info-button').on('click', function(){
    $('#info').toggle();
    $('.dropdown').hide();
  })
  ee = true;
  $('#font-toggle-button').on('click', function(){
    if(ee == true) {
      for (i in base_fonts) {
        $('.font-swap ' + '.' + base_fonts[i]).attr('class', target_fonts[i])
        $('#alert').show().text('Target')
        console.log('changed to target');
      }
      ee = false;
    } else {
      for (i in target_fonts) {
        $('.font-swap ' + '.' + target_fonts[i]).attr('class', base_fonts[i])
        $('#alert').show().text('Base')
        console.log('changed to base');
      }
      ee = true;
    }
    $('.dropdown').hide();
  })


  $('.container-button').on('click', function() {
    $('.pages').hide();
    $('.info').hide();
    $('#alert').hide();
    var page = '#' + $(this).data('page')
    var infopanel = '#' + $(this).data('info')
    $(page).show()
    $(infopanel).show()
  })

  // Editor slider toggle
  $('[id*=sl]').on('input', function(){
    text_box = $(this).prop('id').replace("sl", "textbox");
    text_size = $(this).prop('id').replace("sl", "textsize");
    $('#' + text_box).css('font-size', $(this)[0].value + 'px');
    $('#' + text_size).html($(this)[0].value + 'px');
  })

  $('[id*=hide]').on('click', function(){
    text_box = $(this).prop('id').replace("hide", "textbox");
    $('#' + text_box).toggle();
    if ($(this).text() == 'remove_circle_outline') {
      $(this).html("add_circle_outline");
    } else {
      $(this).html("remove_circle_outline")
    }

  })

</script>
{% endblock %}


