{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style>
    /* @font-face before and after families */
    {% for font_face in family['before']['css_font_faces'] %}
      {{ font_face }}
    {% endfor %}

    {% for font_face in family['after']['css_font_faces'] %}
      {{ font_face }}
    {% endfor %}

    {% for css_class in family['css_classes'] %}
      {{ css_class }}
    {% endfor %}


    /* swap div*/
    .swap-fonts-before {
      display: block;
      font-family: {{ family['before']['name'] }};
    }
    .swap-fonts-after {
      display: block;
      font-family: {{ family['after']['name'] }};
    }
  </style>
{% endblock %}

{% block content %}

{% if '_' in view %}
{% with name=view, comparison=view, pass_msg="No " + view | replace('_', ' ') %}
  {% include "pallette.html" %}
{% endwith %}

{% elif 'waterfall' == view %}
  {% include "page-waterfall.html" %}
{% elif 'editor' == view %}
  {% include "page-editor.html" %}
{% endif %}

<script>


  $('#font-toggle-button').on('click', function() {
    swapFonts()
    if ($(this).text() == 'Fonts Before') {
      $(this).text('Fonts After')
    } 
    else {
      $(this).text('Fonts Before')
    }
  })

    // Swap fonts between before and after
    function swapFonts() {
        var fonts_before = document.getElementsByClassName('swap-fonts-before')
        if (fonts_before.length > 0) {
            while (fonts_before.length > 0) {
                fonts_before[0].className = 'swap-fonts-after';
            }
        }
        else {
            var fonts_after = document.getElementsByClassName('swap-fonts-after')
            while (fonts_after.length > 0) {
                fonts_after[0].className = 'swap-fonts-before';
            }            
        }
    }
</script>
{% endblock %}
