{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div id="page-family-upload">

  <div id="family-upload">
    <div class="box-large">
      <form id="upload-form" action="/upload-fonts" method=post enctype=multipart/form-data>

      <input type="radio" name="fonts" value="googlefonts" id="checkbox-googlefonts" checked>
        <p>Compare uploaded family against hosted family on fonts.google.com</p>
      <input type="radio" name="fonts" value="user" id="checkbox-user">
        <p>Compare two uploaded families</p>
      <label for="fonts-before" id="label-fonts-before">Fonts Before:</label>
      <input type=file name=fonts_before id="fonts-before" multiple value="Fonts Before">
      <label for="fonts-after" id="label-fonts-after">Fonts After:</label>
      <input type=file name=fonts_after id="fonts-after" multiple value="Fonts After">
        <input type="submit" value="Upload!" id="upload-button">
      </form>
    </div>
  </div>

  <b>Usage:</b>
  <ul>
      <li>If comparing against family hosted on Google Fonts, the family must exist</li>
  </ul>

</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>

<script>
    var uploadForm = document.getElementById('family-upload')
    document.addEventListener('DOMContentLoaded', toggle)
    uploadForm.addEventListener('change', toggle)

    function toggle() {
        if (document.getElementById('checkbox-googlefonts').checked) {
            document.getElementById('fonts-before').style.display = "none";
            document.getElementById('label-fonts-before').style.display = "none";
        }
        else if (document.getElementById('checkbox-user').checked) {
            document.getElementById('fonts-before').style.display = "inline";
            document.getElementById('label-fonts-before').style.display = "inline";
        }
    }
    
</script>
{% endblock %}
